.DS_Store
node_modules
/src-tauri
/out
/dist
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore config files
tailwind.config.ts
.eslintrc.cjs
vite.config.ts
postcss.config.cjs
electron.vite.config.ts
svelte.config.mjs
commitlint.config.cjs

# not sure why this file causes issues
src/shared/*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
